[user]
    name        = Ivan Miric
    email       = imiric@gmail.com
[color]
    ui          = auto
[diff]
    renames     = copies
[core]
    autocrlf    = false
    safecrlf    = true
[alias]
    unstage     = reset HEAD --
    bi          = bisect
    st          = status -s
    ci          = commit
    co          = checkout
    s           = submodule
    br          = branch
    rb          = rebase
    diffs       = diff --staged
    remotev     = remote -v
    glog        = log --graph --decorate --all
    lg          = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
    lga         = log --all --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d %Creset%s %Cgreen(%an %cr)%Creset' --abbrev-commit --date=relative
[github]
    user = imiric
[push]
    default = simple
